:root {
  --primary-color: #055a05;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

img.logo {
  width: 100px;
  height: auto;
  margin: 0 0.25rem 0 1rem;
}

.navigation {
  display: flex;
  list-style: none;
}

nav {
  margin-left: auto;
}

.navigation li {
  flex: 1 1 auto;
}

.navigation a {
  display: block;
  color: navy;
  padding: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.navigation a:hover {
  color: var(--accent2-color);
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  bottom: 0px;
  left: 7%;
  width: 80%;
  padding: 16px;
  text-align: center;
  opacity: 0.92;
  background-color: var(--accent2-color);
  color: #000;
}

.hero article img {
  float: right;
  width: 125px;
}

section.history {
  display: flex;
  grid-template-columns: 2fr 1fr 2fr;
  margin-top: 50px;
}

div.image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

section.history h2,
section.adventure h2 {
  text-align: center;
}

section.history h2 {
  margin-bottom: 12px;
}

section.adventure h2 {
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.image-container figure img {
  width: 120px;
  border-radius: 7px;
}

.img-caption {
  display: flex;
  justify-content: center;
}

footer {
  padding: 10px 20px 5px 20px;
  color: #fff;
  background-color: var(--accent1-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-1 {
  display: flex;
  flex: 70%;
  justify-content: center;
}

.col-2 {
  display: flex;
  flex: 30%;
  justify-content: flex-end;
}

footer nav a {
  margin-left: 5px;
  margin-right: 5px;
}