html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

img {
  border: 1px solid black;
  padding: 2px;
}

p {
  padding: 0;
}

main {
  max-width: 840px;
  padding: 20px 50px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

aside {
  width: 100%;
  margin: 0;
  border: 1px solid #bbbbf5;
  padding: 50px;
  background-color: rgba(0, 0, 139, .1);
  color: #000;
  box-sizing: border-box;
}

aside img {
  width: 200px;
  height: auto;
}

footer {
  margin-top: 20px;
  border-top: 1px solid rgb(66, 66, 66);
  text-align: center;
}