:root {
  --color-darkblue: darkblue;
  --border-black: 1px solid black
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

nav {
  background-color: var(--color-darkblue);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: var(--color-darkblue);
  padding: .7rem;
}

img {
  border: var(--border-black);
  padding: 2px;
}

p {
  padding: 0;
  margin: 1.5rem;
}

main {
  max-width: 840px;
  padding: 20px 50px;
}

main img {
  width: 150px;
  height: auto;
  border: var(--border-black);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem
}

aside {
  position: relative;
  width: 100%;
  margin: 0;
  border: 1px solid #bbbbf5;
  padding: 50px;
  background-color: rgba(0, 0, 139, .1);
  color: #000;
  box-sizing: border-box;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 60px;
  color: #fff
}

footer {
  margin-top: 20px;
  border-top: 1px solid rgb(66, 66, 66);
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 4rem 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

aside.box {
  margin-top: 0;
}

.indent {
  padding-left: 2rem;
}